
  .footer__text {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    color: #b3b3b3;
  }
  .footer__text a {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    color: #bfbfbf;
    transition: all 0.2s ease-in-out;
    display: inline-block;
  }
  .footer__text a:hover,
  .footer__text a:active {
    color: #588157;
  }
  .footer hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-links a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 5rem;
    height: 5px;
    margin: 10px 10px;
    transition: all ease 0.2s;
  }
  .social-links a i {
    transition: all ease-in-out 0.2s;
  }
  .social-links a:hover {
    transform: scale(1.1) translateY(-2px);
  }
  .social-links a:hover .fa-twitter {
    color: #00acee;
  }
  .social-links a:hover .fa-facebook-f {
    color: #2957e0;
  }
  .social-links a:hover .fa-instagram {
    color: #c13584;
  }
  .social-links a:hover .fa-linkedin {
    color: #4875b4;
  }
  .social-links a:hover .fa-github {
    color: #807676;
  }
  